# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

.vagrant
html
puphpet/files/dot/
vagrant/provisioning/playbooks.retry
vagrant/provisioning/ideato.common/files/ssh/*.pem

# web application
ora

#angular app
ora-angularjs

# Eclipse files
.project
.metadata
.settings

vagrantconfig.yml