<VirtualHost *:80>
    ServerName proxy.welo.dev
    DocumentRoot "/var/www/welo-proxy/web"

    CustomLog /var/log/apache2/welo-proxy-access.log combined
    ErrorLog /var/log/apache2/welo-proxy-error.log
    <Directory "/var/www/welo-proxy/web">
        AllowOverride All
        Order allow,deny
        Allow from All
    </Directory>

    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Credentials "true"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"

    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</VirtualHost>
